{{$username := .User.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SSH keys :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">
		Settings
	  </h1>
	</header>
	<hr />

	<main>
	  {{template "admin/user/_sidebar" .}}

	  <div class="setting-main main-side">
		<h2>SSH Keys</h2>
		
		{{if .KeyList}}
		{{if gt (len .KeyList) 0}}
		<div class="key-list">
		  {{range $k := .KeyList}}
		  <div class="key-list-item">
			<b>{{$k.KeyName}}</b> <a href="/admin/user/{{$username}}/ssh/{{$k.KeyName}}/edit">Edit</a> <a href="/admin/user/{{$username}}/ssh/{{$k.KeyName}}/delete">Delete</a>
			<details><summary>Key Data</summary><textarea readonly class="key-text">{{$k.KeyText}}</textarea></details>
		  </div>
		  {{end}}
		</div>
		{{else}}
		<p>There is no SSH keys set for this user.</p>
		{{end}}
		{{else}}
		<p>There is no SSH keys set for this user.</p>
		{{end}}

		<h2>Add new SSH key</h2>
		
		{{if .ErrorMsg}}
		<div class="error-msg">{{.ErrorMsg.Message}}</div>
		{{end}}
		<form action="" method="POST">
		  <div class="field">
		  <label class="field-label" for="key-text">Key text:</label>
		  <textarea name="key-text"></textarea>
		  </div>
		  <input type="submit" value="Add SSH key" />
		</form>
		
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

