{{define "_admin-sidebar"}}
<div class="admin-sidebar left-side">
  <a class="admin-sidebar-item" href="/admin">Admin index</a>
  <a class="admin-sidebar-item" href="/admin/site-config">Site config</a>
  <a class="admin-sidebar-item" href="/admin/db-setting">Database config</a>
  <a class="admin-sidebar-item" href="/admin/session-setting">Session store config</a>
  <a class="admin-sidebar-item" href="/admin/rs-setting">Receipt system config</a>
  <a class="admin-sidebar-item" href="/admin/mailer-setting">Mailer config</a>
  
  <hr />
  <a class="admin-sidebar-item" href="/admin/user-list">Users</a>
  <a class="admin-sidebar-item" href="/admin/namespace">Namespaces</a>
  <a class="admin-sidebar-item" href="/admin/repo">Repositories</a>
  <a class="admin-sidebar-item" href="/admin/receipt">Receipts</a>
</div>
{{end}}
