<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Database Settings :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<h2>Database Settings</h2>
		<div>{{.ErrorMsg}}</div>
		<form action="" method="POST">
		  <div class="field">
			<label class="field-label" for="type">Database Type:</label>
			<select name="type" id="type" value="{{.Config.Database.Type}}">
			  <option value="sqlite">Sqlite3</option>
			</select>
		  </div>
		  <div class="field"><label class="field-label" for="path">Database Path:</label><input name="path" id="path" class="field-tf" value="{{.Config.Database.Path}}" /></div>
		  <div class="field"><label class="field-label" for="url">Database URL:</label><input name="url" id="url" class="field-tf" value="{{.Config.Database.URL}}" /></div>
		  
		  <div class="field"><label class="field-label" for="user">Database User:</label><input name="user" id="user" class="field-tf" value="{{.Config.Database.UserName}}" /></div>
		  <div class="field"><label class="field-label" for="name">Database Name:</label><input name="name" id="name" class="field-tf" value="{{.Config.Database.DatabaseName}}" /></div>
		  <div class="field"><label class="field-label" for="table-prefix">Database Table Prefix:</label><input class="field-tf" name="table-prefix" id="table-prefix" value="{{.Config.Database.TablePrefix}}" /></div>
		  <div class="field"><label class="field-label" for="password">Database Password:</label><input name="password" id="password" type="password" class="field-tf" value="{{.Config.Database.Password}}" /></div>
		  <input class="field-submit" type="submit" value="Save Config" />
		</form>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

