<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mailer Settings :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<form action="" method="POST">
		  <fieldset>
			<legend>Mailer Settings</legend>
			<div>{{.ErrorMsg}}</div>
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="type">Mailer Type:</label></td>
				<td><select name="type" id="type" value="{{.Config.Mailer.Type}}">
					<option value="smtp" {{if eq .Config.Mailer.Type "smtp"}}selected{{end}}>SMTP</option>
					<option value="gmail-plain" {{if eq .Config.Mailer.Type "gmail-plain"}}selected{{end}}>Gmail (w/ App Password)</option>
				</select></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="server">Mailer SMTP Server:</label></td>
				<td><input name="server" id="server" class="field-tf" value="{{.Config.Mailer.SMTPServer}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="port">Mailer SMTP Port:</label></td>
				<td><input name="port" id="port" class="field-tf" value="{{.Config.Mailer.SMTPPort}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="username">Mailer User Name:</label></td>
				<td><input name="username" id="username" class="field-tf" value="{{.Config.Mailer.User}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="password">Mailer User Password:</label></td>
				<td><input name="password" id="password" type="password" class="field-tf" value="{{.Config.Mailer.Password}}"/></td>
			  </tr>
			</table>
			<input class="field-submit" name="action" type="submit" value="Save Config" />
		  </fieldset>
		  <fieldset>
			<legend>Test Email Setting</legend>
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="test-email-target">Test Email Target:</label></td>
				<td><input name="test-email-target" id="test-email-target" type="email" class="field-tf" /></td>
			  </tr>
			</table>
			<input class="field-submit" name="action" type="submit" value="Test Mailer" />
		  </fieldset>
		</form>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

