<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Receipt System Settings :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<fieldset>
		  <legend>Receipt System Settings</legend>
		  <div>{{.ErrorMsg}}</div>
		  <form action="" method="POST">
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label" for="type">Receipt System Type:</label></td>
				<td><select name="type" id="type" value="{{.Config.ReceiptSystem.Type}}">
					<option value="sqlite">Sqlite3</option>
				</select></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="path">Receipt System Path:</label></td>
				<td><input name="path" id="path" class="field-tf" value="{{.Config.ReceiptSystem.Path}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="url">Receipt System URL:</label></td>
				<td><input name="url" id="url" class="field-tf" value="{{.Config.ReceiptSystem.URL}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="username">Receipt System Username:</label></td>
				<td><input name="username" id="username" class="field-tf" value="{{.Config.ReceiptSystem.UserName}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="password">Receipt System Password:</label></td>
				<td><input name="password" id="password" type="password" class="field-tf" value="{{.Config.ReceiptSystem.Password}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="table-prefix">Receipt System Table Prefix:</label></td>
				<td><input name="table-prefix" id="table-prefix" class="field-tf" value="{{.Config.ReceiptSystem.TablePrefix}}"/></td>
			  </tr>
			</table>
			<input class="field-submit" type="submit" value="Save Config" />
		  </form>
		</fieldset>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

