<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Session Store Settings :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>
	<hr />

	<main>
	  {{template "_admin-sidebar"}}

	  <div class="setting-main main-side">
		<h2>Session Store Settings</h2>
		<div>{{.ErrorMsg}}</div>
		<form action="" method="POST">
		  <div class="field">
			<label class="field-label" for="type">Session Store Type:</label>
			<select name="type" id="type" value="{{.Config.SessionType}}">
			  <option value="sqlite">Sqlite3</option>
			</select>
		  </div>
		  <div class="field"><label class="field-label" for="path">Session Store Path:</label><input name="path" id="path" class="field-tf" value="{{.Config.SessionPath}}"/></div>
		  <div class="field"><label class="field-label" for="url">Session Store URL:</label><input name="url" id="url" class="field-tf" value="{{.Config.SessionURL}}"/></div>
		  <input class="field-submit" type="submit" value="Save Config" />
		</form>
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

