<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Site Config :: Admin :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-admin.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">Admin</h1>
	</header>

	<hr />
	
	<main>
	  {{template "_admin-sidebar"}}
	  
	  <div class="setting-main main-side">
		<fieldset class="setting-section">
		  <legend>Basic Settings</legend>
		  <form action="" method="POST">
			<input type="hidden" name="section" value="basic" />
			<table class="field-table">
			  <tr class="field">
				<td><label class="field-label"  for="tf-depot-name">Depot name:</label></td>
				<td><input name="depot-name" id="tf-depot-name" class="field-tf" value="{{.Config.DepotName}}" /></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label"  for="tf-root">Root:</label></td>
				<td><input name="root" id="tf-root" required class="field-tf" value="{{.Config.GitRoot}}" /></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label"  for="tf-git-user">Git User:</label></td>
				<td><input name="git-user" id="tf-git-user" required class="field-tf" value="{{.Config.GitUser}}" /></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label field-chkbox-label"  for="chkbox-use-namespace">Use Namespace:</label></td>
				<td><input type="checkbox" name="use-namespace" id="chkbox-use-namespace" class="field-chkbox" {{if .Config.UseNamespace}}checked{{end}}/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label field-chkbox-label"  for="chkbox-allow-registration">Allow Registration:</label></td>
				<td><input type="checkbox" name="allow-registration" id="chkbox-allow-registration" class="field-chkbox" {{if .Config.AllowRegistration}}checked{{end}}/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label field-chkbox-label"  for="chkbox-email-confirmation-required">Email Confirmation Required:</label></td>
				<td><input type="checkbox" name="email-confirmation-required" id="chkbox-email-confirmation-required" class="field-chkbox" {{if .Config.EmailConfirmationRequired}}checked{{end}}/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label field-chkbox-label"  for="chkbox-manual-approval">Manual Approval Required:</label></td>
				<td><input type="checkbox" name="manual-approval" id="chkbox-manual-approval" class="field-chkbox" {{if .Config.ManualApproval}}checked{{end}}/></td>
			  </tr>
			</table>
			<input class="field-submit" type="submit" value="Save Config" />
		  </form>
		</fieldset>
		
		<fieldset class="setting-section">
		  <legend>Web Setting</legend>
		  <form action="" method="POST">
			<input type="hidden" name="section" value="web" />
			<table class="field-table">
			  <tr>
				<td class="field"><label class="field-label" for="http-host-name">HTTP Host Name:</label></td>
				<td><input name="http-host-name" id="http-host-name" class="field-tf" value="{{.Config.HttpHostName}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="ssh-host-name">SSH Host Name:</label></td>
				<td><input name="ssh-host-name" id="ssh-host-name" class="field-tf" value="{{.Config.SshHostName}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="static-asset-directory">Static Asset Directory:</label></td>
				<td><input name="static-asset-directory" id="static-asset-directory" class="field-tf" value="{{.Config.StaticAssetDirectory}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="bind-address">Bind Address:</label></td>
				<td><input name="bind-address" id="bind-address" class="field-tf" value="{{.Config.BindAddress}}"/></td>
			  </tr>
			  <tr class="field">
				<td><label class="field-label" for="bind-port">Bind Port:</label></td>
				<td><input name="bind-port" id="bind-port" class="field-tf" value="{{.Config.BindPort}}"/></td>
			  </tr>
			</table>
			<input class="field-submit" type="submit" value="Save Config" />
		  </form>
		</fieldset>
		
	  </div>
	</main>
	
    <hr />
	
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

