{{define "setting/_sidebar"}}
<div class="sidebar setting-sidebar left-side">
  <a class="sidebar-item" href="/new/namespace">New namespace</a>
  <a class="sidebar-item" href="/new/repo">New repository</a>
  <hr />
  <a class="sidebar-item" href="/setting">User info</a>
  <a class="sidebar-item" href="/setting/email">Email address</a>
  <a class="sidebar-item" href="/setting/privacy">Privacy</a>
  <a class="sidebar-item" href="/setting/ssh">SSH Key</a>
  <a class="sidebar-item" href="/setting/gpg">GPG Key</a>
</div>
{{end}}
