{{define "setting/_sidebar"}}
<div class="sidebar setting-sidebar left-side">
  <a class="sidebar-item" href="/new/namespace">New Namespace</a>
  <a class="sidebar-item" href="/new/repo">New Repository</a>
  <a class="sidebar-item" href="/new/snippet">New Snippet</a>
  <hr />
  <a class="sidebar-item" href="/setting">User Info</a>
  <a class="sidebar-item" href="/setting/email">Email Address</a>
  <a class="sidebar-item" href="/setting/privacy">Privacy</a>
  <a class="sidebar-item" href="/setting/ssh">SSH Key</a>
  <a class="sidebar-item" href="/setting/gpg">GPG Key</a>
</div>
{{end}}
