{{$repoName := getRepoName .Repository.Namespace .Repository.Name}}
{{$repoPath := getRepoPath .Repository.Namespace .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pull requests of {{$repoName}} :: Gitus</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-pull-request.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	
    <hr />

	<main>
	  {{template "pull-request/_sidebar" .}}
	  <div class="main-side">
		<div class="pull-request-list">
		  {{if or (not .PullRequestList) (le (len .PullRequestList) 0) }}
		  There is no pull request for this repository.
		  {{else}}
		  {{range .PullRequestList}}
		  <div class="pull-request-list-item {{if eq .Status 1}}{{else}}pull-request-list-item-closed{{end}}">
			<div class="pull-request-title-bar"><span class="pull-request-id">#{{.PRId}}:</span> <b>[{{if eq .Status 1}}OPEN{{else}}CLOSE{{end}}]</b> <a href="{{$repoPath}}/pull-request/{{.PRId}}"><span class="pull-request-title">{{.Title}}</span></a></div>
			<div class="pull-request-desc-bar"><a href="/u/{{.Author}}" class="pull-request-author">{{.Author}}</a> @ {{toFuzzyTime .Timestamp}}</div>
			<div class="precise-time">{{toPreciseTime .Timestamp}}</div>
		  </div>
		  {{end}}
		  {{end}}
		</div>
		<div>
		  {{if gt .PageNum 1}}<a href="?p={{sub .PageNum 1}}">Previous Page</a>{{end}}
		  <a href="?p={{add .PageNum 1}}">Next Page</a>
		</div>
	  </div>
	</main>
	

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>


