.setting-repo-label-item {
	background-color: var(--foreground-color);
	color: var(--background-color);
	padding: 0.2rem;
}
.setting-repo-label-item a {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
.setting-repo-label-item-icon {
	background-color: var(--foreground-color);
	color: var(--background-color);
}

