.setting {
	padding: 1rem;
	padding-left: 0;
	display: flex;
}
.setting-sidebar {
	min-width: 30%;
}
.setting-sidebar hr {
	height: 2px;
}
.setting-sidebar-item {
	display: block;
}
.setting-main {
	padding: 1rem;
	padding-top: 0;
	width: 100%;
}
.setting-main h2:first-child {
	margin-top: 0;
}
.key-list-item {
	margin: 1rem;
}
.key-list {
	border-top: 2px var(--foreground-color) solid;
	border-bottom: 2px var(--foreground-color) solid;
	width: 100%;
}
.key-text {
	border: 2px var(--foreground-color) solid;
	font-family: monospace;
	background-color: var(--background-color);;
	color: var(--foreground-color);
	width: 100%;
	font-size: 1rem;
	scrollbar-color: white black;
}
label {
	display: block
}
input, textarea {
	border: 2px var(--foreground-color) solid;
	background-color: var(--background-color);;
	color: var(--foreground-color);
	width: 100%;
	font-size: 1rem;
	scrollbar-color: white black;
	box-sizing: border-box;
}

input[type="submit"] {
	font-family: inherit;
	background-color: var(--foreground-color);
	color: var(--background-color);
	margin-top: 0.5rem;
	transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
	margin-top: 1rem;
}

input[type="submit"]:hover {
	background-color: var(--background-color);;
	color: var(--foreground-color);
}
.field {
	margin-top: 0.5rem;
}
.field-label {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-weight: bold;
}


@media (max-width: 600px) {
	.setting {
		display: block;
	}
	.setting-sidebar {
		padding: 1rem;
		padding-top: 0;
		border-bottom: 2px var(--foreground-color) solid;
	}
	.setting-main {
		padding-top: 1rem;
		width: inherit;
	}
}
