.issue-header {
	border-bottom: 2px var(--foreground-color) solid;
}
.issue-body {
	border-bottom: 1px var(--foreground-color) solid;
}
.issue-list-item {	
	background-color: var(--white-shade-degree-1);
	padding: 1em;
	margin-bottom: 1em;
}
.issue-list-item {	
	background-color: var(--white-shade-degree-1);
    padding: 0.5em;
    /* margin-bottom: 1em; */
	border-bottom: 2px var(--white-shade-degree-2) solid;
}
.issue-list-item-closed {
	background-color: unset;
}
.issue-list-item:first-child {
	border-top: 2px var(--white-shade-degree-2) solid;
}
.issue-list-item a {
	display: inline-block;
	background-color: unset;
	color: var(--foreground-color);
}
.issue-list-item a:hover {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
.issue-event-list-item {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px var(--foreground-color) solid;
}
.issue-event-list-item:first-child {
	border: 0;
}
.issue-id {
	font-size: 1.5em;
	font-weight: bold;
}
.issue-title {
	font-size: 1.5em;
	font-weight: bold;
}
.issue-search-bar {
	display: flex;
	height: 1.5em;
	margin-bottom: 1em;
	vertical-align: center;;
}
.issue-search-bar input {
	flex: 2;
}
.issue-search-bar select {
	width: unset;
}
.issue-search-bar input[type="submit"] {
	margin: 0;
	flex: unset;
}

.precise-time {
	color: #ffffff7f;
}
.issue-page-nav {
	margin-right: 1em;
}

