.setting-sidebar hr {
	height: 2px;
}
.setting-sidebar-item {
	display: block;
}
.setting-main {
	padding: 1rem; 
	padding-top: 0;
	width: 100%;
}
.setting-main h2:first-child {
	margin-top: 0;
}

@media (max-width: 600px) {
	.setting {
		display: block;
	}
	.setting-sidebar {
		width: 100%;
		padding: 1rem;
		padding-top: 0;
		border-bottom: 2px var(--foreground-color) solid;
	}
	.setting-main {
		padding-top: 1rem;
		width: inherit;
	}
}


/* ======================================================== */
/* key list.  */
.key-list-item {
	margin: 1rem;
}
.key-list {
	border-top: 2px var(--foreground-color) solid;
	border-bottom: 2px var(--foreground-color) solid;
	width: 100%;
}
.key-text {
	border: 2px var(--foreground-color) solid;
	font-family: monospace;
	background-color: var(--background-color);;
	color: var(--foreground-color);
	width: 100%;
	font-size: 1rem;
	scrollbar-color: white black;
}
/* ======================================================== */
