.pull-request-header {
	border-bottom: 2px var(--foreground-color) solid;
}
.pull-request-body {
	border-bottom: 1px var(--foreground-color) solid;
}
.pull-request-list-item {	
    padding: 0.5em;
    /* margin-bottom: 1em; */
	border-bottom: 2px var(--shade-degree-2) solid;
}
.pull-request-list-item:first-child {
	border-top: 2px var(--shade-degree-2) solid;
}
.pull-request-list-item-closed {
	background-color: unset;
}
.pull-request-list-item a {
	display: inline-block;
	background-color: unset;
	color: var(--foreground-color);
}
.pull-request-list-item a:hover {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
.pull-request-event-list-item {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px var(--foreground-color) solid;
}
.pull-request-event-list-item:first-child {
	border: 0;
}
.pull-request-id {
	font-size: 1.2em;
	font-weight: bold;
}
.pull-request-title {
	font-size: 1.2em;
	font-weight: bold;
}
.pull-request-merge-conflict-check {
	margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pull-request-search-bar {
	display: flex;
	height: 1.5em;
	margin-bottom: 1em;
	vertical-align: center;;
}
.pull-request-search-bar input {
	flex: 2;
}
.pull-request-search-bar select {
	width: unset;
}
.pull-request-search-bar input[type="submit"] {
	margin: 0;
	flex: unset;
}
.pull-request-page-nav {
	margin-right: 1em;
}
.precise-time {
	color: var(--shade-degree-2);
}

.pull-request-status-tag {
	border: 1px var(--foreground-color) solid;
}
.pull-request-status-tag-open {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
.pull-request-status-tag-discarded {
	text-decoration: line-through;
}
.merge-check-result-description {
	font-size: 0.9rem;
	color: var(--shade-degree-2);
	font-style: italic;
}
