.setting-main {
	padding: 2rem; 
	width: 100%;
}
.setting-main h2:first-child {
	margin-top: 0;
}
.setting-section {
	margin-top: 2rem;
}
.setting-section:first-child {
	margin-top: 0;
}

@media (max-width: 600px) {
	.setting {
		display: block;
	}
	.setting-sidebar {
		width: 100%;
		padding: 1rem;
		padding-top: 0;
		border-bottom: 2px var(--foreground-color) solid;
	}
	.setting-main {
		padding-top: 1rem;
		width: inherit;
	}
}


/* ======================================================== */
/* key list.  */
.key-list-item {
	margin: 1rem;
}
.key-list {
	border-top: 2px var(--foreground-color) solid;
	border-bottom: 2px var(--foreground-color) solid;
	width: 100%;
}
.key-text {
	border: 2px var(--foreground-color) solid;
	font-family: monospace;
	background-color: var(--background-color);;
	color: var(--foreground-color);
	width: 100%;
	font-size: 1rem;
}
/* ======================================================== */



.field-table {
	border-collapse: collapse;
	width: 100%;
	border-top: 0 !important;
	border-bottom: 0 !important;
}

.setting-table {
	border-collapse: collapse;
	border-top: 2px var(--foreground-color) solid;
	border-bottom: 2px var(--foreground-color) solid;
	width: 100%;
}
.setting-table thead {
	border-top: 1px var(--foreground-color) solid;
	border-bottom: 1px var(--foreground-color) solid;
}
.setting-list-nav {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
}
.setting-list-page-nav {
	flex-grow: 2;
	display: flex;
	align-items: center;
}
.setting-list-page-nav-form, .setting-list-search-form {
	display: inline-flex;
	align-items: center;
}
.setting-list-page-nav-form input[type="submit"],
.setting-list-search-form input[type="submit"] {
	margin-top: 0;
}
.setting-list-page-goto-form {
	display: flex;
	align-items: center;
	margin-right: 0.5em;
}
.setting-list-page-goto-form-tf {
	width: 3em;
	margin-left: 0.5em;
}
.setting-list-search {
	display: inline-flex;
	align-items: center;
}
.setting-list-search-tf {
	width: 10em;
	margin-left: 0.5em;
}
.setting-list-page-nav-l { margin-left: 2px; margin-right: 2px; }
@media (max-width: 1024px) {
	.setting-list-nav {
		display: block;
	}
}
