.diff-item {
	background-color: var(--shade-degree-0);
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}
.diff-item-header {
	background-color: var(--background-color);
	color: var(--foreground-color);
}
.diff-item-content-line-content {
	white-space: pre;
	padding-left: 1em;
}
.diff-item-content-line-delete {
	background-color: darkred;
	color: white;
}
.diff-item-content-line-append {
	background-color: darkgreen;
	color: white;
}
.diff-item-content-line-linenum-same {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
.diff-item-patch {
	margin-top: 1rem;
}
.diff-item-patch-table {
	width: 100%;
	display: flex;
	flex-direction: row;
	border: 1px var(--foreground-color) solid;
}
.diff-item-line-number-pair {
	display: table-row;
}
.diff-item-line-number-pair-same {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
.diff-item-line-number-pair-append {
	background-color: darkgreen;
	color: white;
}
.diff-item-line-number-pair-delete {
	background-color: darkred;
	color: white;
}
.diff-item-line-number {
	min-width: 2rem;
	display: table-cell;
}
.diff-item-line-number-panel {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border-right: 2px var(--foreground-color) solid;
	font-family: monospace;
	font-size: 1rem;
}
.diff-item-line {
	width: 100%;
	overflow: auto;
}
.diff-item-content-line-content {
	font-family: monospace;
	font-size: 1rem;
    white-space: pre;
	width: 100%;
    min-width: fit-content;
}
.diff-item-content-line-content-append {
	background-color: darkgreen;
	color: white;
}
.diff-item-content-line-content-delete {
	background-color: darkred;
	color: white;
}

