{{define "_commit-info"}}
{{$repoPath := getRepoPath .RepoName}}
<div class="commit-info">
  <b>Commit</b> <a href="{{$repoPath}}/commit/{{.Commit.Id}}">{{.Commit.Id}}</a> (<a href="{{$repoPath}}/diff/{{.Commit.Id}}">Diff</a>) (<a href="{{$repoPath}}/commit/{{.Commit.Id}}">Tree</a>) (<a href="{{$repoPath}}/history/commit:{{.Commit.Id}}">Full History</a>)<br />
  <b>Author</b>:
  <span class="author-name commit-author-name">{{.Commit.AuthorInfo.AuthorName}}</span>
  (<span class="author-email commit-author-email"><a href="mailto:{{.Commit.AuthorInfo.AuthorEmail}}">{{.Commit.AuthorInfo.AuthorEmail}}</a></span>)
  at <span class="author-time commit-author-time">{{.Commit.AuthorInfo.Time}}</span><br />
  <b>Committer</b>: 
  <span class="committer-name">{{.Commit.CommitterInfo.AuthorName}}</span>
  (<span class="committer-email"><a href="mailto:{{.Commit.CommitterInfo.AuthorEmail}}">{{.Commit.CommitterInfo.AuthorEmail}}</a></span>)
  at <span class="committer-time">{{.Commit.CommitterInfo.Time}}</span><br />
  <b>Message</b>:<p class="commit-message">{{.Commit.CommitMessage}}</p>
  {{if gt (len .Commit.Signature) 0}}
  <details><summary><b>Commit Signature</b></summary><pre>{{.Commit.Signature}}</pre></details>
  {{end}}
</div>

{{end}}
