{{define "_repo-header"}}
<h1 class="header-name" style="margin-bottom: 0">
  <a href="{{getNamespacePath .NamespaceName}}">{{.NamespaceName}}</a>:<a href="{{getRepoPath .NamespaceName .RepoName}}">{{.RepoName}}</a>
  </h1>
  {{if gt (len .TypeStr) 0}}
  <div class="header-node">@{{.TypeStr}}:<a href="{{getRootPath .RepoName .TypeStr .NodeName}}">{{if eq .TypeStr "commit"}}{{slice .NodeName 0 8}}<span style="font-size:80%">{{slice .NodeName 8 40}}</span>{{if gt (len .NodeName) 40}}<span style="font-size:60%">{{slice .NodeName 40}}</span>{{end}}{{else}}{{.NodeName}}{{end}}</a></div>
  {{end}}
  <div class="header-repo-label-list">
	{{if .RepoLabelList}}
	{{range .RepoLabelList}}
	<span class="header-repo-label">{{.}}</span>
	{{end}}
	{{end}}
  </div>
  <div class="header-clone-address">
	<span class="repo-clone-address-label">Clone URL</span>:
	<a href="#http">HTTP (Read-only)</a> <a href="#ssh">SSH</a>
	<input id="http" class="repo-clone-address-tf" name="clone-address" value="{{htmlEscape .RepoURL}}" readonly/>
	<input id="ssh" class="repo-clone-address-tf" name="clone-address" value="{{htmlEscape .RepoSSH}}" readonly/>
  </div>
  <div class="repo-description">{{.RepoDescription}}</div>
{{end}}

