
{{define "_tree-path"}}
{{$rootPath := .RootPath}}
{{$treePathSegmentList := .TreePathSegmentList}}
<div class="tree-path-segment">
  <span class="tree-path-segment-head"><a href="{{.RootPath}}">~</a></span>
  {{if gt (len .TreePathSegmentList) 0}}
  {{range $i, $k := .TreePathSegmentList}}
  {{if eq (sub (int64 (len $treePathSegmentList)) 1) $i}}
  / <span class="tree-path-segment-item">{{.Name}}</span>
  {{else}}
  / <span class="tree-path-segment-item"><a href="{{$rootPath}}/{{.RelPath}}/">{{.Name}}</a></span>
  {{end}}
  {{end}}
  {{end}}
</div>
{{end}}

