<!-- model

	 type BranchTemplateModel struct {
	 RepoName string
	 RepoDescription string
	 TypeStr string
	 NodeName string
	 CommitId string
	 AuthorInfo gitlib.AuthorTime
	 CommitterInfo gitlib.AuthorTime
	 CommitMessage string
	 CommitSignature string
	 Annotated bool
	 TaggerInfo gitlib.AuthorTime
	 TagMessage string
	 TagSignature string
	 TreePath string
	 FileList []gitlib.TreeObjectItem
	 TreePathSegmentList []struct{
	 Name string
	 RelPath string
	 }
	 }

	 
  -->

{{$repoName :=.RepoName}}
{{$nodeName := .NodeName}}
{{$treePath := .TreePath}}
{{$typeStr := .TypeStr}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/static/style.css">
	<title>{{$typeStr}}:{{$nodeName}} @ {{.RepoName}} :: Gitus</title>
  </head>
  <body>
	<div class="repo-header">
	  <div class="repo-header-label"><a href="/">DEPOT</a> / REPOSITORY</div>
      <h1 class="repo-header-name" style="margin-bottom: 0"><a href="/repo/{{.RepoName}}">{{.RepoName}}</a></h1>
	  <div class="repo-header-branch">@{{$typeStr}}:<a href="/repo/{{.RepoName}}/{{$typeStr}}/{{$nodeName}}">{{if eq $typeStr "commit"}}{{slice $nodeName 0 8}}...{{else}}{{$nodeName}}{{end}}</a></div>
	</div>
	<div class="repo-description">{{.RepoDescription}}</div>
	<div class="repo-branch-description">
	  <div class="repo-branch-commit">
		<b>Commit</b> <a href="/repo/{{.RepoName}}/commit/{{.CommitId}}">{{.CommitId}}</a> (<a href="/repo/{{.RepoName}}/history/{{$typeStr}}:{{$nodeName}}">Full History</a>)<br />
		<b>Author</b>:
		<span class="author-name">{{.AuthorInfo.AuthorName}}</span>
		(<span class="author-email"><a href="mailto:{{.AuthorInfo.AuthorEmail}}">{{.AuthorInfo.AuthorEmail}}</a></span>)
		at <span class="author-time">{{.AuthorInfo.Time}}</span><br />
		<b>Committer</b>: 
		<span class="committer-name">{{.CommitterInfo.AuthorName}}</span>
		(<span class="committer-email"><a href="mailto:{{.CommitterInfo.AuthorEmail}}">{{.CommitterInfo.AuthorEmail}}</a></span>)
		at <span class="committer-time">{{.CommitterInfo.Time}}</span><br />
		<b>Message</b>:<br /><pre>{{.CommitMessage}}</pre>
		{{if gt (len .CommitSignature) 0}}
		<details><summary><b>Commit Signature</b></summary><pre>{{.CommitSignature}}</pre></details>
		{{end}}
	  </div>
	  {{if eq $typeStr "tag"}}
	  <div class="repo-branch-tag">
		{{if .Annotated}}
		<b>Tagger</b>: 
		<span class="committer-name">{{.TaggerInfo.AuthorName}}</span>
		(<span class="committer-email"><a href="mailto:{{.TaggerInfo.AuthorEmail}}">{{.TaggerInfo.AuthorEmail}}</a></span>)
		at <span class="committer-time">{{.TaggerInfo.Time}}</span><br />
		<b>Tag Message</b>:<br /><pre>{{.TagMessage}}</pre>
		{{if gt (len .TagSignature) 0 }}
		<details><summary><b>Tag Signature</b></summary><pre>{{.TagSignature}}</pre></details>
		{{end}}
		{{else}}
		This is a lightweight tag with no extra annotation.
		{{end}}
	  </div>
	  {{end}}
	</div>
	
	<hr />
	
	<div class="tree-path-segment">
	  <span class="tree-path-segment-head"><a href="/repo/{{.RepoName}}/{{$typeStr}}/{{$nodeName}}">{{.RepoName}}@{{$typeStr}}:{{$nodeName}}</a></span>
	  {{if gt (len .TreePathSegmentList) 0}}
	  {{range .TreePathSegmentList}}
	  / <span class="tree-path-segment-item"><a href="/repo/{{$repoName}}/{{$typeStr}}/{{$nodeName}}/{{.RelPath}}">{{.Name}}</a></span>
	  {{end}}
	  {{end}}
	</div>

	<div class="file-list">
	  {{if gt (len .TreePath) 0}}
	  <div class="file-list-item"><a href="..">..</a></div>
	  {{end}}
	  
	  {{range .FileList}}
	  <div class="file-list-item">
		<svg class="file-list-item-icon">
		  {{if or (eq (.Mode) 100644) (eq (.Mode) 100755)}}
		  <use href="/static/assets/icons.svg#file"></use>
		  {{else if (eq (.Mode) 40000) }}
		  <use href="/static/assets/icons.svg#folder"></use>
		{{end}}
		</svg>
		<a href="/repo/{{$repoName}}/{{$typeStr}}/{{$nodeName}}/{{$treePath}}/{{.Name}}">{{.Name}}</a></div>
	  {{end}}
	</div>
	<hr />
	<footer>
	  <a href="/repo/{{.RepoName}}">Back (Repository)</a>
	  <a href="/">Back (Depot)</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

