{{$namespaceName := .Repository.Namespace}}
{{$repoName := .Repository.Name}}
{{$typeStr := .RepoHeaderInfo.TypeStr}}
{{$nodeName := .RepoHeaderInfo.NodeName}}
{{$repoPath := getRepoPath $namespaceName $repoName}}
{{$emailUserMapping := .EmailUserMapping}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/static/style.css">
	<title>history of {{$typeStr}}:{{$nodeName}} @ {{$repoName}} :: {{.Config.DepotName}}</title>
	<style>
	  .node-history-header {
		  font-size: 1.5rem;
		  font-weight: bold;
	  }
	</style>
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	
	<div class="node-description">
	  <div class="node-history-header">
		Commit History:
	  </div>
	</div>
	
	<hr />

	<div class="commit-history-container">
	  {{if eq (len .CommitHistory) 0}}
	  There are no older commits.
	  {{else}}
	  {{range .CommitHistory}}
	  <div class="commit-history-item commit-info">
		<b>Commit</b> <a href="{{$repoPath}}/commit/{{.Id}}">{{.Id}}</a> (<a href="{{$repoPath}}/diff/{{.Id}}">Diff</a>) (<a href="{{$repoPath}}/commit/{{.Id}}">Tree</a>) (<a href="{{$repoPath}}/history/commit:{{.Id}}">Full History</a>)<br />
		<b>Author</b>:
		<span class="author-name commit-author-name">{{.AuthorInfo.AuthorName}}</span>
		(<span class="author-email commit-author-email"><a href="{{resolveToUsername $emailUserMapping .AuthorInfo.AuthorEmail}}">{{.AuthorInfo.AuthorEmail}}</a></span>)
		@ <span class="author-time commit-author-time">{{toFuzzyTime .AuthorInfo.Time}} <span class="precise-time">{{.AuthorInfo.Time}}</span></span><br />
		<b>Committer</b>: 
		<span class="committer-name">{{.CommitterInfo.AuthorName}}</span>
		(<span class="committer-email"><a href="{{resolveToUsername $emailUserMapping .CommitterInfo.AuthorEmail}}">{{.CommitterInfo.AuthorEmail}}</a></span>)
		@ <span class="committer-time">{{toFuzzyTime .CommitterInfo.Time}} <span class="precise-time">{{.CommitterInfo.Time}}</span></span><br />
		<b>Message</b>:<p class="commit-message">{{.CommitMessage}}</p>
		{{if gt (len .Signature) 0}}
		<details><summary><b>Commit Signature</b></summary><pre>{{.Signature}}</pre></details>
		{{end}}
	  </div>
  	  {{end}}
	  {{end}}
	</div>
	<div><a href="{{$repoPath}}/history/commit:{{.NextPageCommitId}}">Older commit</div>
	<hr />
	<footer>
	  <a href="/repo/{{$repoName}}/{{$typeStr}}/{{$nodeName}}">Back</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

