<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
	<header>
	  <div class="header-nav">DEPOT</div>
      <h1 class="header-name">{{.DepotName}}</h1>
	</header>
    <hr />
	<table>
	  <thead>
		<tr>
		  <th>Repository</th>
		  <th>Description</th>
		</tr>
	  </thead>
	  <tbody>
		{{range .RepositoryList}}
		<tr>
		  <td><a href="/repo/{{.RelPath}}">{{.RelPath}}</a></td>
		  <td>{{.Description}}</td>
		</tr>
		{{end}}
	  </tbody>
    </table>
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>
