<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/static/style.css">
	<title>{{.RepoHeaderInfo.TypeStr}}:{{.RepoHeaderInfo.NodeName}} @ {{.RepoHeaderInfo.RepoName}} :: Gitus</title>
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .RepoHeaderInfo}}
	</header>
	<div class="node-description">
	  {{template "_commit-info" .CommitInfo}}
	</div>
	
	<hr />

	<pre>{{if .Diff}}{{.Diff}}{{else}}No diff available.{{end}}</pre>
	
	<hr />
	<footer>
	  <a href="{{getRepoPath .RepoHeaderInfo.RepoName}}">Back (Repository)</a>
	  <a href="/">Back (Depot)</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

