{{$repoName := getRepoName .SourceRepository.Namespace .SourceRepository.Name}}
{{$repoPath := getRepoPath .SourceRepository.Namespace .SourceRepository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Forking {{$repoName}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">
		Forking <a href="{{$repoPath}}">{{$repoName}}</a>
	  </h1>
	</header>
	<hr />

	<main>
	  <div class="left-side">
	  </div>

	  <div class="setting-main main-side">
		<h2>Existing Fork</h2>
		{{if .ForkedRepoList}}
		{{if gt (len .ForkedRepoList) 0}}
		<table>
		  <thead>
			<tr><th>Full name</th><th>Owner</th></tr>
		  </thead>
		  <tbody>
			{{range $p := .ForkedRepoList}}
			<tr><td><a href="{{getRepoPath $p.Namespace $p.Name}}">{{getRepoName $p.Namespace $p.Name}}</a></td><td><a href="{{getUserPath $p.Owner}}">{{$p.Owner}}</a></td>
			{{end}}
		  </tbody>
		</table>
		{{else}}
		<p>No fork exists.</p>
		{{end}}
		{{else}}
		<p>No fork exists.</p>
		{{end}}
		
		{{if .LoginInfo.LoggedIn}}
		<h2>Fork Repository</h2>
		<div>Forking repository  <a href="{{$repoPath}}">{{$repoName}}</a> to:</div>
		<form action="" method="POST">
		  {{if .Config.UseNamespace}}
		  <div class="field"><label class="field-label" for="namespace">Namespace:</label>
			<select name="namespace" style="width:unset;">
			  {{if .NamespaceList}}
			  {{range $k, $ns := .NamespaceList}}
			  <option value="{{$ns.Name}}">{{$ns.Name}} ({{$ns.Title}})</option>
			  {{end}}
			  {{end}}
			</select>
		  </div>
		  {{else}}
		  <input type="hidden" name="namespace" id="namespace" value="" />
		  {{end}}
		  <div class="field"><label class="field-label" for="name">Repository Name:</label> <input name="name" /></div>
		<input type="submit" value="Fork" />
		</form>
		{{end}}

	  </div>
	</main>

	<hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

