{{$namespaceName := .Namespace.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{.Namespace.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
      <h1 class="header-name index-header-name"><a href="/s/{{.Namespace.Name}}">{{.Namespace.Title}}</a> ({{.Namespace.Name}})</h1>
	  {{if gt (len (.Namespace.Owner)) 0}}
	  <div>Owner: <a href="/u/{{.Namespace.Owner}}">{{.Namespace.Owner}}</a></div>
	  {{end}}
	  {{if or (eq .Namespace.Owner .LoginInfo.UserName)
	  (.LoginInfo.IsSettingMember)
	  (.LoginInfo.IsAdmin)}}
	  <div class="namespace-nav"><a href="/s/{{.Namespace.Name}}/setting">Settings</a> <a href="/new/repo?ns={{.Namespace.Name}}">New repository</a></div>
	  {{end}}
	  <div class="namespace-description">{{.Namespace.Description}}</div>
	</header>
	<hr />

	{{if le (len (.Namespace.RepositoryList)) 0 }}
	<p>There is no repository in this namespace.</p>
	{{else}}

	<table>
	  <thead>
		<tr>
		  <th>Repository</th>
		  <th>Description</th>
		</tr>
	  </thead>
	  <tbody>
		{{range $key, $value := .Namespace.RepositoryList}}
		<tr>
		  <td><a href="/repo/{{$namespaceName}}:{{$key}}">{{$key}}</a></td>
		  <td>{{$value.Description}}</td>
		</tr>
		{{end}}
	  </tbody>
    </table>
	{{end}}
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

