<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>404 Not Found</title>
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
	<div class="repo-header">
	  <div class="repo-header-label"><a href="/">DEPOT</a> / ERROR</div>
      <h1 class="repo-header-name">404</h1>
	</div>
	<div class="repo-description"></div>
    <hr />

	<div class="error-message">
	  <p>My friend, --<br />
		Whatever you're trying to find,<br />
		It's not here.<br />
	    Maybe, could be,<br />
	    Another time, another day.</p>
	</div>

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>


