<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Registration :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style-const-default.css">
	<link rel="stylesheet" href="/dynamic-asset/style-const-default.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
	<link rel="stylesheet" href="/static/style-registration.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  <h1 class="header-name">Registration</h1>
	</header>
	<hr />
	{{if gt (len .ErrorMsg) 0}}
	<div class="error-message">
	  {{.ErrorMsg}}
	</div>
	{{end}}

	<fieldset id="reg-form">
	  <legend>Registration</legend>
	  <form action="" method="POST">
		<table class="field-table">
		  <tbody>
			<tr class="field">
			  <td><label class="field-label" for="tf-username">Username:</label></td>
			  <td><input class="field-tf" name="username" id="tf-username" /></td>
			</tr>
			<tr class="field">
			  <td><label class="field-label" for="tf-email">Email:</label></td>
			  <td><input class="field-tf" name="email" id="tf-email" /></td>
			</tr>
			<tr class="field">
			  <td><label class="field-label" for="tf-password">Password:</label></td>
			  <td><input class="field-tf" type="password" name="password" id="tf-password" /></td>
			</tr>
			{{if .Config.ManualApproval}}
			<tr class="field">
			  <td><label class="field-label" for="ta-reason">Please describe your reason for registration, etc..</label></td>
			  <td><textarea id="ta-reason" name="ta-reason"></textarea></td>
			</tr>
			{{end}}
			{{if .Config.ReadingRequiredDocument}}
			{{range $k, $v := .Config.ReadingRequiredDocument}}
			<tr class="field">
			  <td></td>
			  <td>
				<input style="display: inline" class="field-chkbox" type="checkbox" name="req-{{$k}}" id="chk-req-{{$k}}" />
				<label for="chk-req-{{$k}}">I have read the content of <a target="_blank" href="{{getRRDocHref $v.Path}}">{{$v.Title}}</a> and consent to its terms</label>
			  </td>
			</tr>
			{{end}}
			{{end}}
			<tr class="field">
			  <td></td>
			  <td><input class="form-submit" type="submit" value="Register" /></td>
			</tr>
		  </tbody>
		</table>
	  </form>
	</fieldset>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

