{{$reponame := .RepoName}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{$reponame}} :: Gitus</title>
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .RepoHeaderInfo}}
	</header>
	
    <hr />

	<main>
	  <div class="left-side">
		<h2>Branches</h2>
		<ul>
		  {{range .BranchList}}
		<li><a href="/repo/{{$reponame}}/branch/{{.Name}}">{{.Name}}</a></li>
		{{end}}
		</ul>

		<h2>Tags</h2>
		<ul>
		  {{range .TagList}}
		<li><a href="/repo/{{$reponame}}/tag/{{.Name}}">{{.Name}}</a></li>
		{{end}}
		</ul>
	  </div>
	  <div class="main-side">
		{{if gt (len .ReadmeString) 0}}{{rawHTML .ReadmeString}}{{else}}This repository has no README text.{{end}}</p>
	  </div>
	</main>
	

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>


