{{$reponame := .Repository.Name}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{$reponame}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	
    <hr />

	<main>
	  <div class="left-side">
		<h2>Branches</h2>
		<ul>
		  {{range .BranchList}}
		<li><a href="/repo/{{$reponame}}/branch/{{.Name}}">{{.Name}}</a></li>
		{{end}}
		</ul>

		<h2>Tags</h2>
		<ul>
		  {{range .TagList}}
		<li><a href="/repo/{{$reponame}}/tag/{{.Name}}">{{.Name}}</a></li>
		{{end}}
		</ul>
	  </div>
	  <div class="main-side">
		{{if gt (len .ReadmeString) 0}}{{rawHTML .ReadmeString}}{{else}}
		{{if and (eq (len .Repository.Repository.BranchIndex) 0) (eq (len .Repository.Repository.TagIndex) 0)}}
		<p>
		  This repository seems to be completely empty. If you've just created this repository, you can follow the instructions below to upload a local Git repository here:
		</p>
		<pre>git remote add origin {{getRepoSSH .Config .Repository}}
git push -u origin</pre>
		{{else}}<p>This repository has no README text.</p>{{end}}
        {{end}}
	  </div>
	</main>
	

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>


