{{$reponame := .RepoName}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{.RepoHeaderInfo.RepoName}} :: Gitus</title>
	<link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
	{{template "_repo-header" .RepoHeaderInfo}}
	
    <hr />

	<h2>Branches</h2>
	<ul>
	  {{range .BranchList}}
	  <li><a href="/repo/{{$reponame}}/branch/{{.Name}}">{{.Name}}</a></li>
	  {{end}}
	</ul>

	<h2>Tags</h2>
	<ul>
	  {{range .TagList}}
	  <li><a href="/repo/{{$reponame}}/tag/{{.Name}}">{{.Name}}</a></li>
	  {{end}}
	</ul>

	<hr />
	<footer>
	  <a href="/">Back to Depot</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>


