<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-login.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  <h1 class="header-name">Reset Password</h1>
	</header>
	<hr />

	<div id="login-form">
	  <form action="" method="POST">
		<input type="hidden" name="rid" id="rid" value="{{.ReceiptId}}" />
	  <div class="field"><label class="field-label" for="password">New password::</label><input class="field-tf" type="password" name="password" id="password" /></div>
	  <div class="field"><label class="field-label" for="email">Confirm password:</label><input class="field-tf" type="password" name="confirm" id="confirm" /></div>

	  <input class="form-submit" type="submit" value="Request Reset" />
	</form>
	</div>

    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

