<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/static/style.css">
	<title>{{.RepoHeaderInfo.TypeStr}}:{{.RepoHeaderInfo.NodeName}} @ {{.Repository.Name}} :: {{.Config.DepotName}}</title>
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  {{template "_repo-header" .}}
	</header>
	<div class="node-description">
	  {{if .TagInfo}}{{template "_tag-info" .TagInfo}}{{end}}
	</div>
	
	<hr />

	<div class="node-tag-description">
      <b>Tag</b> <a href="{{getRepoPath .Repository.Namespace .Repository.Name}}/tag/{{.Tag.Id}}">{{.Tag.Id}}</a><br />
      <b>Tagged Object</b>: <a href="{{getRootPath  .Repository.Namespace .Repository.Name .Tag.TaggedObjType .Tag.TaggedObjId}}">{{.Tag.TaggedObjType}}:{{.Tag.TaggedObjId}}</a><br />
      <b>Tagger</b>: 
      <span class="tagger-name">{{.Tag.TaggerInfo.AuthorName}}</span>
      (<span class="tagger-email"><a href="{{resolveToUsername .EmailUserMapping .Tag.TaggerInfo.AuthorEmail}}">{{.Tag.TaggerInfo.AuthorEmail}}</a></span>)
      at <span class="tagger-time">{{.Tag.TaggerInfo.Time}}</span><br />
      <b>Message</b>:<br /><pre>{{.Tag.TagMessage}}</pre>
      {{if gt (len .Tag.Signature) 0}}
      <details><summary><b>Tag Signature</b></summary><pre>{{.Tag.Signature}}</pre></details>
	  {{end}}
	</div>

	<hr />
	<footer>
	  <a href="{{getRepoPath .Repository.Namespace .Repository.Name}}">Back (Repository)</a>
	  <a href="/">Back (Depot)</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

