<!-- model

	 type TreeTemplateModel struct {
	 RepoHeaderInfo RepoHeaderTemplateModel
	 TreeFileList TreeFileListTemplateModel
	 PermaLink string

	 TreePath *TreePathTemplateModel
	 CommitInfo *CommitInfoTemplateModel
	 TagInfo *TagInfoTemplateModel
	 }

	 
  -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/static/style.css">
	<title>{{.RepoHeaderInfo.TypeStr}}:{{.RepoHeaderInfo.NodeName}} @ {{.RepoHeaderInfo.RepoName}} :: Gitus</title>
  </head>
  <body>
	{{template "_repo-header" .RepoHeaderInfo}}
	<div class="node-nav tree-nav">
	  <a href="?snapshot">Snapshot</a>
	</div>
	<div class="node-description">
	  {{if .CommitInfo}}{{template "_commit-info" .CommitInfo}}{{end}}
	  {{if .TagInfo}}{{template "_tag-info" .TagInfo}}{{end}}
	</div>
	
	<hr />

	{{template "_tree-path" .TreePath}}
	<div class="file-nav"><a href="{{.PermaLink}}">Permalink</a></div>
	{{template "_tree-file-list" .TreeFileList}}

	<hr />
	<footer>
	  <a href="{{getRepoPath .RepoHeaderInfo.RepoName}}">Back (Repository)</a>
	  <a href="/">Back (Depot)</a>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

