<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{.User.Name}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-user.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	</header>
	<hr />

	<div class="user-profile">
	  <div class="user-profile-info">
		<div class="user-profile-title">{{.User.Title}}</div>
		<div class="user-profile-name">{{.User.Name}}</div>
		<b>Email</b>: <a href="mailto:{{.User.Email}}">{{.User.Email}}</a><br />
		<b>Website</b>: <a href="{{.User.Website}}">{{.User.Website}}</a><br />
		<b>Bio</b>: {{.User.Bio}}<br />
		<div class="user-profile-belonging-namespace">
		  <b>Joined Namespace</b>:
		  {{range $k, $v := .BelongingNamespaceList}}
		  <div class="user-profile-belonging-namespace-list-item">
			<a href="/s/{{$v.Name}}">{{$v.Title}} ({{$v.Name}})</a>
		  </div>
		  {{end}}
		</div>
	  </div>
	  <div class="user-profile-repository-list">
		{{if le (len .RepositoryList) 0 }}
		<p>There is no repository for this user.</p>
		{{else}}
		{{range $key, $value := .RepositoryList }}
		<div class="user-profile-repository-list-item">
		  <a style="display:block; font-size:2em;font-weight:bold;" href="{{getRepoPath $value.Namespace $value.Name}}">{{getRepoName $value.Namespace $value.Name}}</a>
		  <p>{{$value.Description}}</p>
		</div>
		{{end}}
		{{end}}
	  </div>
	</div>
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

