{{$selected := .Selected}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New repository{{if .PredefinedNamespace}} in {{.PredefinedNamespace}}{{end}} :: {{.Config.DepotName}}</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/style-setting.css">
  </head>
  <body>
	<header>
	  {{template "_header-nav" .}}
	  
	  <h1 class="header-name" style="margin-bottom: 0">
		New Repository{{if .PredefinedNamespace}} in {{.PredefinedNamespace}}{{end}}
	  </h1>
	</header>
	<hr />

	<main>
	  <div class="left-side">
	  </div>

	  <div class="setting-main main-side">
		<h2>New repository</h2>
		{{if .ErrorMsg}}
		<div class="error-msg">{{.ErrorMsg.Message}}</div>
		{{end}}
		<form action="" method="POST">
		  {{if .PredefinedNamespace}}
		  <div class="field">
			<label class="field-label">Namespace:</label>
			{{.PredefinedNamespace}}
		  </div>
		  {{else}}
		  <div class="field"><label class="field-label" for="namespace">Namespace:</label> <select name="namespace">
			  {{if .NamespaceList}}
			  {{range $k, $ns := .NamespaceList}}
			  <option value="{{$ns.Name}}" {{if eq $selected $ns.Name}}selected{{end}} >{{$ns.Name}} ({{$ns.Title}})</option>
			  {{end}}
			  {{end}}
		  </select></div>
		  {{end}}
		  <div class="field"><label class="field-label" for="name">Name:</label> <input name="name" /></div>
		  <div class="field"><label class="field-label" for="description">Description:</label> <input name="description" /></div>
		  <input type="submit" value="New Repository" />
		</form>
		
	  </div>
	</main>
	
    <hr />
	<footer>
	  {{template "_footer"}}
	</footer>
  </body>
</html>

