<style>
* {
	box-sizing: border-box;
	scrollbar-color: var(--foreground-color) var(--background-color);
	scrollbar-width: thin;
}

:root {
	--foreground-color: white;
	--background-color: #1f1f1f;
	--file-list-height: 1rem;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	margin: 2rem;
	font-family: 'Nimbus Sans', sans-serif;
}

a {
	color: var(--foreground-color);
	background-color: var(--background-color);
    transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
}

a:hover {
	color: var(--background-color);
	background-color: var(--foreground-color);
}

table {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-top: 4px var(--foreground-color) solid;
	border-bottom: 4px var(--foreground-color) solid;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

tr > th {
	text-align: left;
}

thead {
	border-top: 2px var(--foreground-color) solid;
	border-bottom: 2px var(--foreground-color) solid;
}

code { font-size: 1rem; }

pre {
    font-size: 1rem;
    border-left: 2px var(--foreground-color) solid;
    padding-left: 1em;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

header {
	padding-bottom: 1rem;
}

footer {
	padding-top: 1rem;
}

hr {
	height: 4px;
	border: none;
	background-color: var(--foreground-color);
}

.field {
    margin-top: 1em;
    background-color: #ffffff1f;
    padding: 1em;
}

.field-label {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-weight: bold;
	width: 100%;
    display: block;
    font-size: 1.5em;
}
.field-sub-label { width: 40% }
.field-chkbox-label {
	width: inherit;
	display: inline;
	margin-right: 0.5rem;
}
.field-tf {
	border: 2px var(--foreground-color) solid;
	background-color: var(--background-color);;
	color: var(--foreground-color);
	font-size: 1rem;
	scrollbar-color: var(--background-color) var(--foreground-color);
	box-sizing: border-box;
	width: 100%;
}
.field-submit {
	width: 100%;
}
form {
    margin-top: 1em;
    margin-bottom: 1em;
}
form input {
	background-color: var(--background-color);;
	color: var(--foreground-color);
	border: 2px var(--foreground-color) solid;
	font-size: 1rem;
}
form textarea {
	border: 2px var(--foreground-color) solid;
	background-color: var(--background-color);;
	color: var(--foreground-color);
	width: 100%;
	height: 10em;
	font-size: 1rem;
	scrollbar-color: var(--background-color) var(--foreground-color);
	box-sizing: border-box;
}
form select {
	background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 1rem;
    border: 2px var(--foreground-color) solid;
    width: 100%;
}
form input[type="submit"], .form-submit {
	font-family: inherit;
	background-color: var(--foreground-color);
	color: var(--background-color);
	margin-top: 0.5rem;
	transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.5s ease-in-out;
	margin-top: 1rem;
}
form input[type="submit"]:hover, .form-submit:hover {
	background-color: var(--background-color);;
	color: var(--foreground-color);
}

</style>
